<!DOCTYPE html>
<h1>ラーメン記録</h1>
<table>
  <thead>
    <tr>
      <th>食べたラーメン一覧</th>
    </tr>
  </thead>
  <tbody>
    <% @shops.each do |shop| %>
      <tr>
        <td><%= shop.title %></td>
        <td><%= image_tag shop.image.url.to_s %></td>
        <td><%= link_to '編集', edit_shop_path(shop) %></td>
        <td><%= link_to '表示', shop_path(shop), method: :get %></td>
        <td><%= link_to '削除', shop_path(shop), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to '追加', new_shop_path %>