<!DOCTYPE html>
<h1>сЃЕсЃ╝сЃАсЃ│ТЌЦУеў</h1>
<div>­ЪЇЦжБЪсЂ╣сЂЪсЃЕсЃ╝сЃАсЃ│СИђУдД­ЪЇЦ</div>

<% @shops.each do |shop| %>
  <div class='block_index'>
    <div><%= link_to shop.title, shop_path(shop), method: :get %></div>
    <div class='centering'><%= image_tag shop.image.url.to_s ,class: "ramen"%></div>
    <div class='Right_align'><%= link_to 'уиежЏє', edit_shop_path(shop) %>
    <%= link_to 'тЅіжЎц', shop_path(shop), method: :delete %></div>
  </div> 
  <div>
  </div>
<% end %>

<%= link_to 'У┐йтіа', new_shop_path %>

</div>