<!DOCTYPE html>
<h1>сЃЕсЃ╝сЃАсЃ│ТЌЦУеў</h1>

<div class='block_show'>­ЪЇЦ<%= @shop.title %>­ЪЇЦ
  <div class= 'centering'><%= image_tag @shop.image.url.to_s %></div>
  <div><%= @shop.grade %></div>
  <div><%= @shop.comment %></div>
  <div class='Right_align'><%= link_to 'уиежЏє', edit_shop_path(@shop) %>
  <%= link_to 'Тѕ╗сѓІ', shops_path %></div>
</div>
